{% block stylesheet %}
    <style>
        #comments {
            border: 1px dashed gray;
            padding: 10px 20px;
        }

        .comment {
            border-bottom: 1px solid;
            margin-bottom: 5px;
        }

        .comment .author {
            color: gray;
        }

        .comment .content {
            font-size: 13px;
        }
    </style>
{% endblock %}


<p>Комментарии</p>
<div id="comments">
    {% if comments.count %}
        {% for comment in comments %}
            <div class="comment">
                <p class="author">{{ comment.author.name }} написал в {{ comment.pubDate|date('H:i d-m-Y') }}</p>
                <p class="content">{{ comment.content|nl2br }}</p>
            </div>
        {% endfor %}

    {% else %}
        <p>Комментариев пока нет</p>
    {% endif %}
</div>