parameters:
    default_post_sort:
        pub_date: !php/const:Temirkhan\Blog\Sort\PostSort::SORT_ASC
services:
    # Конвертер фильтра публикаций
    blog.paramconverter.post_filter:
        class: BlogBundle\ParamConverter\PostFilterConverter
        tags:
            - { name: request.param_converter }

    # Конвертер сортировки публикаций
    blog.paramconverter.post_sort:
        class: BlogBundle\ParamConverter\PostSortConverter
        arguments: [ '%default_post_sort%']
        tags:
            - { name: request.param_converter }