{% extends '@Blog/bootstrap.layout.html.twig' %}
{% block title %}404{% endblock %}
{% block body %}
    <div style="text-align: center">
        <h1>404</h1>
        <br>
        {{ message }}
    </div>
{% endblock %}